@model BibleOnTwitter.Infrastructure.Model.View.IndexView

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <ul class="hashtag_menu">
        @foreach (var Tag in @Model.TopTags.OrderByDescending(t => t.Percentage))
        {
            <li style="width: @Tag.Percentage%">       
                <p>
                    <span class="tag">
                        @Tag.HashTag
                    </span>
                    <span class="counts">
                        @Tag.TweetCount / @Tag.TweetTotalCount                     
                    </span>
                </p>         
            </li>
        }
        </ul>

        @foreach (var tweet in @Model.Tweets)
        {
            <div>
                <h3>@tweet.Author.Name</h3>
                <span>@tweet.Content</span>    
                <div>
                    @foreach (var verse in @tweet.BibleVerseReferences)
                    {
                        <span>Verse: @verse.ToString()</span>
                    }
                </div>           
            </div>
        }
    </div>
</body>
</html>
