@{
    Layout = null;    
}
@model BibleOnTwitter.Infrastructure.Model.View.IndexView

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        @foreach (var tweet in @Model.BibleTweets)
        {
            <div>
                <h3>@tweet.AuthorName</h3>
                <span>@tweet.Content</span>    
                <div>
                    @foreach (var verse in @tweet.GetBibleVerses())
                    {
                        <span>Verse: @verse.ToString()</span>
                    }
                </div>           
            </div>
        }
    </div>
</body>
</html>
